*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    --color-background: #ffffff;
    --color-text: #19132d;
    --color-button-text: #ffffff;
    --color-coral: #fa4641;
    --color-coral-dark: #ea3434;
    --color-mint: #32c8c7;
    --color-mint-dark: #18b2ae;
    --color-lemon: #fbd021;
    --color-lemon-dark: #fbb90a;
    --color-purple: #553EC4;
    --color-purple-dark: #301f86;
    --color-gray: #F2F2F0;
    --color-gray-dark: #E2E2E0;
}

body {
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.score-container {
    font-weight: bold;
    width: 18rem;
    background-color: var(--color-gray);
    color: #18181D;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 15px 15px 1px var(--color-gray-dark);
}

.numbers {
    font-size: 5rem;
}

.player {
    font-size: .7rem;
    padding-bottom: .4rem;
}

.main {
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
    /* border: 1px solid seagreen; */
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
}

.score-container-btn {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.player-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, .5rem);
    gap: 1rem;
    /* border: 1px solid pink; */
}

.btn {
    padding: 2rem;
    color: var(--color-button-text);
    border-radius: 15%;
    cursor: pointer;
}

.icon {
    fill: #fff;
    height: 5rem;
}

.coral {
    background-color: var(--color-coral);
    box-shadow: 10px 10px 1px var(--color-coral-dark);
    grid-area: 4 / 1 /11 / 7;
}

.lemon {
    background-color: var(--color-lemon);
    box-shadow: 10px 10px 1px var(--color-lemon-dark);
    grid-area: 1 / 7 / 8 / 13;
}

.mint {
    background-color: var(--color-mint);
    box-shadow: 10px 10px 1px var(--color-mint-dark);
    grid-area: 8 / 7 / 15 / 13;
}

.computer-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, .5rem);
    gap: 1rem;
}

.purple {
    background-color: var(--color-purple);
    box-shadow: 10px 10px 1px var(--color-purple-dark);
    grid-area: 4 / 4 /11 / 10;
}

.footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    margin-left: 1rem;
}

.title {
    font-weight: bold;
}

.message {
    /* border: 1px solid greenyellow; */
    width: 300px;
    margin-top: 2rem;
}